<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">Create New Task</h1>

        <input #taskTitleInput class="input has-background-light" type="text" placeholder="Enter task title" />

        <div class="buttons is-right" style="margin-top: 20px">
            <button routerLink="/" class="button is-medium">Cancel</button>
            <button (click)="createTask(taskTitleInput.value)" class="button is-primary is-medium">
                Create
            </button>
        </div>
    </div>
</div>