<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>

            <div class="list-menu">
                <a href="#" class="list-menu-item is-active">
                    <p>List 1</p>
                </a>
                <a href="#" class="list-menu-item">
                    <p>List 2</p>
                </a>
                <a href="#" class="list-menu-item">
                    <p>List 3</p>
                </a>
            </div>

            <button class="button is-primary">+ New List</button>

        </div>

        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                Tasks
            </h1>

            <!-- TASK ELEMENTS -->
            <div class="task complete">
                <p>This is something I have to do</p>
            </div>
            <div class="task">
                <p>This is something I have to do</p>
            </div>
            <div class="task">
                <p>This is something I have to do</p>
            </div>
        </div>
    </div>
</div>