<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>

            <div class="list-menu">
                <a *ngFor="let list of lists" [routerLink]="['/lists', list._id]" class="list-menu-item"
                    routerLinkActive="is-active">
                    <p>{{list.title}}</p>
                </a>
            </div>

            <button routerLink="/new-list" class="button is-primary">+ New List</button>

        </div>

        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                Tasks
            </h1>

            <!-- TASK ELEMENTS -->
            <div *ngFor="let task of tasks" class="task" [class.complete]="task.completed"
                (dblclick)="onTaskClick(task)">
                <p>{{task.title}}</p>
            </div>
            <h3 *ngIf="!id" class="empty-state">Please select a list from the sidebar</h3>
            <h3 *ngIf="id && tasks.length===0" class="empty-state">There are no tasks yet</h3>

            <button (click)="addTask()" class="circle-add-button button is-primary">
                <img src="/assets/plus-icon.svg">
            </button>
        </div>
    </div>
</div>